/* Demo Page */
body {
  font-family: arial, sans-serif;
  font-size: 12pt;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
#statusLine {
  color: #555;
  background-color: #eee;
  border: 1px inset;
  padding: 2px 4px;
  margin: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Fancytree */
ul.fancytree-container {
  margin: 4px;
}
